.speaker, .item p.speaker {
  color: #df091d;
  width: 100%;
}


.listItem .btn {
    display: initial;
  }

.del {
  color:red;
  font-size: 25px;
}

.listItem{
  padding-bottom: 25px;
}
#render_me .col-md-10{
  padding-left:0px;
}
