<h2>Alle Sessions</h2>
<label>Filter:
  <input ng-model="searchText"></label>

<div ng-repeat="session in sessionList | filter:searchText | orderBy : ['doc.session','doc.track'] track by session.id" type="item-text-wrap" class="listItem">

  <h4>{{session.doc.name}}
    -
    {{session.doc.track}}S{{session.doc.session}}</h4>
  <p class="speaker">{{session.doc.speaker}}</p>
   <p>{{session.doc.session | timeFilter}}</p>
  <a type="button" class="btn btn-info" ng-href="#/session/{{session.id}}">
  <span class="glyphicon glyphicon-info-sign"></span>
    Detail</a>
</div>
